.title-text {
	font-family: Bahnschrift, serif;
}

.line {
	width: 90%;
	border: 4px solid red;	
	border-radius: 10px;
	background: red;
}

.main-form, .server-text {
	font-family: Bahnschrift, sans-serif;
}

@media (max-width: 900px) {
	.main-form {
		width: 75% !important;
	}
}

@media (min-width: 900px) {
	.main-form {
		width: 40% !important;
	}
}

@media (max-width: 450px) {
	.head-label, .server-text {
		font-size: 0.8em !important;
	}	
}

.form-btn {
	height: 40px;
}

	.form-btn:hover {
		background: red !important;
	}

	.form-btn:disabled,
	.form-btn[disabled] {
		color: rgba(118, 118, 118, 0.3) !important;
		background-color: rgba(118, 118, 118, 0.3) !important;
	}
